**/__pycache__/

database/*
results/*
experimental/*

dataset/berita/berita.json
dataset/berita/berita_train.json
dataset/berita/*.ipynb
dataset/berita/*.csv

dataset/covid/covid_train_*.json
dataset/covid/covid_test_*.json
dataset/covid/covid_train_*.csv
dataset/covid/covid_test_*.csv

dataset/covid/*.ipynb

dataset/*/test/*
